.Container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgb(6, 7, 7);
  min-height: 400px;
  padding: 20px 50px;
  margin-top: 50px;
  text-align : center;
  margin-bottom: 50px;

}

.Income-Expense {
  background-color: rgb(20, 20, 20);
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
.text {
  padding: 5px;
}
.List {
  font-weight: bold;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #131212;
  width: 200px;
  margin-right: 0px !important;
}
.listamount {
  align-content: right;
  color: rgb(26, 32, 37);
  margin-left: 60px;
  text-align: end;
}

.button5:hover {
  background-color: #1f1e1e;
  color: white;
}
.btn {
  background-color: rgb(252, 252, 252); /* Blue background */
  border: none; /* Remove borders */
  font-size: 10px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  width: 35px;
  height: 35px;
}
.image {
  width: 20px;
  height: 20px;
}